<section id="about" class="section section--theme-3">
    <div class="container container--600 text-center">
        <h2>What is this</h2>

        <p>
            Women Techmakers est un programme créé par <strong>Google</strong> afin de souligner le talent des femmes dans le milieu de
            l’informatique. Cette année, nous avons décidé d’organiser la première édition montréalaise dans le cadre de
            l’évènement spécial <strong>« The Women Techmakers Global Event Series Celebrating International Women's Day »</strong>, qui a
            connu plus de 200 événements mondiaux dans 52 pays. Cet événement permet de célébrer la Journée internationale
            de la femme, de promouvoir le talent et la passion, d’augmenter la visibilité de la communauté montréalaise et
            de permettre la création d’un réseau de contacts dans l’industrie tout en mettant à l’honneur les femmes dans
            l’industrie technologique.
        </p>
    </div>
</section>