<section id="about" class="section section--theme-5">
    <div class="container text-center">
        <h2>{% t about.title %}</h2>

        <p>
            {% t header.wtm_desc_1 %}
            <strong>Google</strong> {% t header.wtm_desc_2 %}<strong>"The Women Techmakers Global Event Series Celebrating
            International Women's Day"</strong> (WTM IWD),{% t header.wtm_desc_3 %}
        </p>

        <img src="/assets/images/logo-gdg.png" alt="Google's Women Techmakers 2016">
    </div>
</section>