<ul class="schedule schedule--left">
  <li class="schedule-item">
    <img src="{{ '/assets/images/speakers/nancy-naluz.jpg' | prepend: site.baseurl_root }}" class="schedule-item-thumbnail img-circle" width="150" height="150" alt="{{ speaker.name }}">

    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 9:00 AM - 9:30 AM</p>
      <h2 class="schedule-item-content-title">
        Lorem ipsum dolor sit amet
      </h2>

      <p>by <em>Nancy Naluz</em></p>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#schedule-nancy-naluz">
        Learn more
      </button>

      <div class="collapse" id="schedule-nancy-naluz">
        <p class="schedule-item-content-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
      </div>
    </div>
  </li>

  <li class="schedule-item">
    <img src="{{ '/assets/images/speakers/cindy-christensen.jpg' | prepend: site.baseurl_root }}" class="schedule-item-thumbnail img-circle" width="150" height="150" alt="{{ speaker.name }}">

    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 9:30 AM - 10:00 AM</p>
      <h2 class="schedule-item-content-title">
        Leaping forward – Overcoming adversities and making a successful career change for women into technology
      </h2>

      <p>by <em>Cindy Christensen</em></p>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#schedule-cindy-christensen">
        Learn more
      </button>

      <div class="collapse" id="schedule-cindy-christensen">
        <p class="schedule-item-content-description">Many women are considering changing careers by entering into the technology sector. However, many are doing so without any experience or network connections. This can be both a challenging and daunting situation. Networking, volunteering and using prior experience from past positions are sources of personal capital that can often be overlooked by women. I would like to share my personal journey of how I was able to successfully make a career change from politics to technology.</p>
      </div>
    </div>
  </li>
</ul>