<ul class="schedule">
  <li class="schedule-item">
    <img src="{{ image_path | prepend: site.baseurl_root }}" class="schedule-item-thumbnail img-circle" width="150" height="150" alt="{{ speaker.name }}">

    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 2:22 PM</p>
      <h2 class="schedule-item-content-title">
        Lorem ipsum dolor sit amet
      </h2>
      <p class="schedule-item-content-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
      <p>Speaker name....</p>
    </div>
  </li>

  <li class="schedule-item">
    <img src="{{ image_path | prepend: site.baseurl_root }}" class="schedule-item-thumbnail img-circle" width="150" height="150" alt="{{ speaker.name }}">

    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 2:22 PM</p>
      <h2 class="schedule-item-content-title">
        Lorem ipsum dolor sit amet
      </h2>
      <p class="schedule-item-content-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
      <p>Speaker name....</p>
    </div>
  </li>

  <li class="schedule-item">
    <div class="schedule-item-thumbnail">
      <i class="glyphicon glyphicon-cutlery"></i>
    </div>

    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 2:22 PM</p>
      <h2 class="schedule-item-content-title">
        Lunch...
      </h2>
    </div>
  </li>
</ul>