<header id="header" class="site-header" data-stellar-background-ratio="0.5">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#header">
                <img src="/assets/images/logo-women-techmakers.svg" alt="" width="180">
            </a>
        </div>

        <div id="navbar-menu" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#about">About</a></li>
                <li><a href="#speakers">Speakers</a></li>
                <li><a href="#venue">Venue</a></li>
                <li><a href="#schedule">Schedule</a></li>
                <li><a href="#sponsors">Sponsors</a></li>
                <li><a href="">Buy Tickets</a></li>
                <li class="nav-lang">
                    <a href="#lang"><span class="visible-xs">Français</span><span class="hidden-xs">FR</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container container--600 text-center">
        <h2>What is this</h2>

        <p>
            Women Techmakers est un programme créé par <strong>Google</strong> afin de souligner le talent des femmes dans le milieu de
            l’informatique. Cette année, nous avons décidé d’organiser la première édition montréalaise dans le cadre de
            l’évènement spécial <strong>« The Women Techmakers Global Event Series Celebrating International Women's Day »</strong>, qui a
            connu plus de 200 événements mondiaux dans 52 pays. Cet événement permet de célébrer la Journée internationale
            de la femme, de promouvoir le talent et la passion, d’augmenter la visibilité de la communauté montréalaise et
            de permettre la création d’un réseau de contacts dans l’industrie tout en mettant à l’honneur les femmes dans
            l’industrie technologique.
        </p>
    </div>

</header>
