<header id="header" class="site-header" data-stellar-background-ratio="0.5">
    <div class="container-fluid fixed">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand invisible" href="#header">
                <img src="/assets/images/logo.svg" alt="" width="50">
            </a>
        </div>

        <div id="navbar-menu" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#speakers">{% t speakers.title %}</a></li>
                <li><a href="#venue">{% t venue.title %}</a></li>
                <li><a href="#schedule">{% t schedule.title %}</a></li>
                <li><a href="#sponsors">{% t sponsors.title %}</a></li>
                <li class="highlight">
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="{% t index.coming %}">
                        {% t header.tickets %}
                    </a>
                </li>
                <li>
                    {% if site.lang == "fr" %}
                        {% capture link_en %}{{ site.baseurl_root }}{{ page.url}}{% endcapture %}
                        <a class="lang" href="{{ link_en }}"><span class="hidden-xs">{% t global.english %}</span><span class="visible-xs">EN</span></a>
                    {% else if site.lang == "en" %}
                        {% capture link_fr %}{{ site.baseurl_root }}fr{{ page.url  }}{% endcapture %}
                        <a class="lang" href="{{ link_fr }}"><span class="hidden-xs">{% t global.french %}</span><span class="visible-xs">FR</span></a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>

    <div class="container text-center">
        <img src="/assets/images/logo.svg" alt="Google's Women Techmakers 2016" class="logo-signature">

        <h1>
            <small>{% t header.title_text %}</small><br>
            {% t header.title_event %}<br>
           {% t header.title_theme %}<br>
            <small>#WomenTechmakers</small>
        </h1>

        <a href="#" class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="top" title="Coming soon">{% t header.tickets %}</a>&nbsp;
        <a href="{{ "/assets/files/call-for-papers-en.pdf" | prepend: site.baseurl_root }}" class="btn btn-default btn-lg">{% t header.be_speaker %}</a>
    </div>
</header>
