<header id="header" class="site-header" data-stellar-background-ratio="0.5">
    <div class="container-fluid fixed">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand invisible" href="#header">
                <img src="/assets/images/logo.svg" alt="" width="50">
            </a>
        </div>

        <div id="navbar-menu" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#speakers">Speakers</a></li>
                <li><a href="#venue">Venue</a></li>
                <li><a href="#schedule">Schedule</a></li>
                <li><a href="#sponsors">Sponsors</a></li>
                <li>
                    <a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Coming soon">
                        Buy Tickets
                    </a>
                </li>
                <!-- <li class="nav-lang">
                    <a href="#lang"><span class="visible-xs">Français</span><span class="hidden-xs">FR</span></a>
                </li> -->
            </ul>
        </div>
    </div>

    <div class="container text-center">
        <img src="/assets/images/logo.svg" alt="Google's Women Techmakers 2016" class="logo-signature">

        <h1>
            <small>Women Techmakers powered by GDG Montreal presents</small><br>
            International Women's Day Global Event Series<br>
            Connect. Create. Celebrate.<br>
            <small>#WomenTechmakers</small>
        </h1>

        <p class="hidden-xs">
            Women Techmakers is a program created by <strong>Google</strong> to celebrate International Women's Day and
            to highlight the talent of women in technology. This year, we decided to organize the first edition in
            Montreal as part of the special event <strong>"The Women Techmakers Global Event Series Celebrating
            International Women's Day"</strong> (WTM IWD), which has seen more than 200 global events across 52
            countries. This community building initiative promotes talented and passionate women and increases the
            visibility of the Montreal tech community while honoring women in technology.
        </p>

        <a href="#" class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="top" title="Coming soon">Buy Tickets</a>&nbsp;
        <a href="{{ "/assets/files/call-for-papers-en.pdf" | prepend: site.baseurl_root }}" class="btn btn-default btn-lg">Be a Speaker</a>
    </div>
</header>

<section id="about" class="visible-xs section section--theme-5">
    <div class="container container--600 text-center">
        <h2>About GWT</h2>

        <p>
            Women Techmakers is a program created by <strong>Google</strong> to celebrate International Women's Day and
            to highlight the talent of women in technology. This year, we decided to organize the first edition in
            Montreal as part of the special event <strong>"The Women Techmakers Global Event Series Celebrating
            International Women's Day"</strong> (WTM IWD), which has seen more than 200 global events across 52
            countries. This community building initiative promotes talented and passionate women and increases the
            visibility of the Montreal tech community while honoring women in technology.
        </p>
    </div>
</section>