<section id="organizer" class="section section--theme-3">
    <div class="container text-center">
        <h2>{% t organizer.title %}</h2>


        <div class="row">

            <a  href="http://www.laurencedevillers.com" target="_blank">
            <div class="col-sm-offset-1 col-sm-4 text-center card">
                <img src="/assets/images/organizer/laurence.jpg" class="img-circle" width="200" height="200" alt="Laurence de Villers">
                <h3>Laurence de Villers</h3>

                <h4>{% t organizer.laurence %}</h4>
            </div>
            </a>

            <a  href="https://ca.linkedin.com/in/annie-caron-4a203133" target="_blank">
            <div class="col-sm-offset-2 col-sm-4 text-center card">
                <img src="/assets/images/organizer/annie.jpg" class="img-circle" width="200" height="200" alt="Annie Caron">

                <h3>Annie Caron</h3>

                <h4>{% t  organizer.annie %}</h4>
            </div>
           </a>
        </div>
    </div>

</section>
