<section id="schedule" class="section section--theme-1">
    <div class="container text-center">
        <h2>{% t schedule.title %}</h2>

        <h3>{% t schedule.date %}<sup>{% t schedule.dateAtt %}</sup>{% t schedule.fullDate %}</h3>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul class="schedule with-connection-bottom">
                    <li class="schedule-item">
                        <div class="schedule-item-thumbnail">
                            <i class="glyphicon glyphicon-edit"></i>
                        </div>

                        <div class="schedule-item-content">
                            <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 8:00 AM - 9:00 AM</p>
                            <h2 class="schedule-item-content-title">
                            Welcome and registration
                            </h2>
                        </div>
                    </li>

                    <li class="schedule-item">
                        <div class="schedule-item-thumbnail">
                        <i class="glyphicon glyphicon-bullhorn"></i>
                        </div>

                        <div class="schedule-item-content">
                            <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 8:30 AM - 8:45 AM</p>
                            <h2 class="schedule-item-content-title">
                            Opening keynote
                            </h2>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {% include auditorium-1.html %}
            </div>

            <div class="col-sm-6">
                {% include auditorium-2.html %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <ul class="schedule with-connection-top with-connection-bottom">
                    <li class="schedule-item">
                        <div class="schedule-item-thumbnail">
                            <i class="glyphicon glyphicon-cutlery"></i>
                        </div>

                        <div class="schedule-item-content">
                            <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 10:00 AM</p>
                            <h2 class="schedule-item-content-title">
                            Break
                            </h2>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>