<section id="speakers" class="section section--theme-3">
    <div class="container text-center">
        <h2>Speakers</h2>

        <h3>Want to be a speaker? Check out our <a href="{{ "/assets/files/call-for-papers-en.pdf" | prepend: site.baseurl_root }}">call for papers</a>.</h3>

        <p>Coming soon, but we promise that they will be awesome. Stay tuned!</p>

        <!-- <div class="row">
            <div class="col-sm-3 text-center card">
                <img src="https://placeholdit.imgix.net/~text?txtsize=22&txt=150%C3%97150&w=150&h=150" class="img-circle" alt="">

                <h3>Loren Ipsum</h3>

                <h4>Lorem Ipsum, dolor sit amet</h4>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, felis ac pellentesque convallis,
                    libero nulla aliquet odio, ac consectetur nunc sem et diam. Quisque elementum ut nulla eget
                    tincidunt. Nullam faucibus erat nec volutpat ornare.
                </p>

                <a href="" class="btn btn-default">More info.</a>
            </div>
        </div> -->
    </div>
</section>