<section id="sponsors" class="section section--theme-1">
  <div class="container text-center">
    <h2>{% t sponsors.title %}</h2>

    {% capture link_proposal %}/assets/files/sponsorship-proposal-{% t global.locale %}.pdf{% endcapture %}
    <h3>{% t sponsors.desc_1 %}<a href="{{ link_proposal | prepend: site.baseurl_root }}">{% t sponsors.desc_2 %}</a>.</h3>

    <h4 class="sponsors-platinum"><strong>{% t sponsors.platinum %}</strong></h4>

    <div class="row">
      <a href="http://www.etsmtl.ca/" target="_blank">
        <div class="col-sm-4 text-center card">
          <img src="{{ '/assets/images/sponsors/logo-ets.png' | prepend: site.baseurl_root }}" alt="École de technologie supérieure">

          <h3>École de technologie supérieure</h3>

          <p>
             {% t venue.desc %}
          </p>
        </div>
      </a>

      <a href="https://developers.google.com/" target="_blank">
        <div class="col-sm-4 text-center card">
          <img src="{{ '/assets/images/sponsors/logo-gd.png' | prepend: site.baseurl_root }}" alt="Google Developers">

          <h3>Google Developers</h3>
        </div>
      </a>

      <a href="https://www.cgi.com/" target="_blank">
        <div class="col-sm-4 text-center card">
          <img src="{{ '/assets/images/sponsors/logo-cgi.png' | prepend: site.baseurl_root }}" alt="CGI">

          <h3>CGI</h3>

          <p>
             {% t sponsors.cgi %}
          </p>
        </div>
      </a>
    </div>

    <h4 class="sponsors-gold"><strong>{% t sponsors.gold %}</strong></h4>

    <div class="row" >
      <a href="http://www.intelerad.com/" target="_blank">
        <div class="col-sm-offset-4 col-sm-4 text-center card">
          <img src="{{ '/assets/images/sponsors/logo-intelerad.png' | prepend: site.baseurl_root }}" alt="Intelerad">

          <h3>Intelerad</h3>
        </div>
      </a>
    </div>

    <h4 class="sponsors-silver"><strong>{% t sponsors.silver %}</strong></h4>

    <div class="row" >
      <a href="http://www.equisoft.com/" target="_blank">
        <div class="col-sm-offset-4 col-sm-4 text-center card">
          <img src="{{ '/assets/images/sponsors/logo-equisoft.png' | prepend: site.baseurl_root }}" alt="EquiSoft">

          <h3>EquiSoft</h3>
        </div>
      </a>
    </div>

    <h4 class="sponsors-bronze"><strong>{% t sponsors.bronze %}</strong></h4>

    <div class="row">
      <a href="http://www.etsmtl.ca/entreprises-diplomes/diplomes/le-reseau-ets" target="_blank">
          <div class="col-sm-offset-2 col-sm-4 text-center card">
            <img src="{{ '/assets/images/sponsors/logo-reseau-ets.png' | prepend: site.baseurl_root }}" alt="Réseau ÉTS">
            <h3>Réseau ÉTS</h3>
          </div>
      </a>

      <a href="https://www.etsmtl.ca/fdets/Accueil" target="_blank">
          <div class="col-sm-4 text-center card">
            <img src="{{ '/assets/images/sponsors/logo-fdets.png' | prepend: site.baseurl_root }}" alt="FDÉTS">
            <h3>FDÉTS</h3>
          </div>
      </a>
    </div>
  </div>
</section>