<section id="sponsors" class="section section--theme-1">
    <div class="container text-center">
        <h2>{% t sponsors.title %}</h2>

        <h3>{% t sponsors.desc_1 %}<a href="{{ "/assets/files/sponsorship-proposal-en.pdf" | prepend: site.baseurl_root }}">{% t sponsors.desc_2 %}</a>.</h3>

        <h4 class="sponsors-platinum"><strong>Platinum</strong></h4>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center card">
                <img src="/assets/images/logo-ets.png" alt="École de technologie supérieure">

                <h3>École de technologie supérieure</h3>

                <p>
                   {% t venue.desc %}
                </p>
            </div>
        </div>
    </div>
</section>