<section id="sponsors" class="section section--theme-1">
    <div class="container text-center">
        <h2>{% t sponsors.title %}</h2>

        {% capture link_proposal %}/assets/files/sponsorship-proposal-{% t global.locale %}.pdf{% endcapture %}
        <h3>{% t sponsors.desc_1 %}<a href="{{ link_proposal | prepend: site.baseurl_root }}">{% t sponsors.desc_2 %}</a>.</h3>

        <h4 class="sponsors-platinum"><strong>{% t sponsors.platinum %}</strong></h4>

        <div class="row" >
            <a  href="http://www.etsmtl.ca/" target="_blank">
                <div class="col-sm-4 text-center card">
                    <img src="/assets/images/sponsors/logo-ets.png" alt="École de technologie supérieure">

                    <h3>École de technologie supérieure (ÉTS) </h3>

                    <p>
                       {% t venue.desc %}
                    </p>
                </div>
            </a>

            <a  href="https://developers.google.com/groups/" target="_blank">
                <div class="col-sm-4  text-center card">
                    <img src="/assets/images/sponsors/logo-gdg.png" alt="Google">

                    <h3>Google Developers Groups</h3>

                    <p>
                       {% t sponsors.gdg %}
                    </p>
                </div>
            </a>
        </div>
    </div>
</section>