<ul class="schedule schedule--right">
  <li class="schedule-item">
    <img src="{{ '/assets/images/speakers/fatih-nayebi.jpg' | prepend: site.baseurl_root }}" class="schedule-item-thumbnail img-circle" width="150" height="150" alt="Fatih Nayebi">

    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 9:00 AM - 10:00 AM</p>
      <h2 class="schedule-item-content-title">
        Codelab: iOS application development in Swift
      </h2>

      <p>by <em>Fatih Nayebi</em></p>

      <p>
        <em>Prerequisites (or just come and watch): your laptop with OSX and XCode; some experience with programming.</em>
      </p>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#schedule-fatih-nayebi">
        Learn more
      </button>

      <div class="collapse" id="schedule-fatih-nayebi">
        <p class="schedule-item-content-description">TBD</p>
      </div>
    </div>
  </li>
</ul>