<ul class="schedule schedule--left">
  <li class="schedule-item">
    <img src="{{ '/assets/images/speakers/francoise-provencher.jpg' | prepend: site.baseurl_root }}" class="schedule-item-thumbnail img-circle" width="150" height="150" alt="Françoise Provencher">

    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 2:15 PM - 3:15 PM</p>
      <h2 class="schedule-item-content-title">
        How to measure your e-commerce business
      </h2>

      <p>by <em>Françoise Provencher</em></p>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#schedule-francoise-provencher">
        Learn more
      </button>

      <div class="collapse" id="schedule-francoise-provencher">
        <p class="schedule-item-content-description">You are growing your e-commerce business, so what’s the next move that will get you your next sale? Exploratory data analysis to identify opportunities is key. We’ll start small, using Python to illustrate some effective and simple data explorations. Then we’ll talk about how we scaled that at Shopify to automatically give data-driven advices to our 175k+ merchants using PySpark. You'll be able to apply those tricks in your favorite language too.</p>
      </div>
    </div>
  </li>
</ul>