<ul class="schedule schedule--left">
  <li class="schedule-item">
     <img src="{{ '/assets/images/speakers/ghina-besbes.jpg' | prepend: site.baseurl_root }}" class="schedule-item-thumbnail img-circle" width="150" height="150" alt="Ghina Besbes">
    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 1:00 PM - 1:30 PM</p>
      <h2 class="schedule-item-content-title">
        Gestion de changement dans la réalisation de projets 
      </h2>

      <p>par <em>Ghina Besbes</em></p>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#schedule-tbd-1">
        En savoir plus
      </button>

      <div class="collapse" id="schedule-tbd-1">
        <p class="schedule-item-content-description">De nos jours peu de projets réussissent, notamment les projets d'implantation de systèmes d'information. La majorité des problèmes soulevés sont liées aux facteurs humains, sociaux et organisationnels. Les problèmes de nature technologique sont quant à eux marginaux. Cette conférence présente les fondements de la gestion de changement, l'approche préconisée dans le cadre d'un projet et les principaux facteurs de succès du changement afin de bien gérer les enjeux humains, sociaux et organisationnels.</p>
      </div>
    </div>
  </li>

  <li class="schedule-item">
    <img src="{{ '/assets/images/speakers/necmiye-genc.jpg' | prepend: site.baseurl_root }}" class="schedule-item-thumbnail img-circle" width="150" height="150" alt="Necmiye Genc">

    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 1:30 PM - 2:00 PM</p>
      <h2 class="schedule-item-content-title">
        Why do women love chasing down bad guys?
      </h2>

      <p>by <em>Necmiye Genc</em></p>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#schedule-necmiye-genc">
        Learn more
      </button>

      <div class="collapse" id="schedule-necmiye-genc">
        <p class="schedule-item-content-description">The information security field is expected to see a deficit of 1.5 professionals by 2020. In the face of the desperate need for information security professionals, the report released by (ISC)2, the education and certification body of information security professionals, depicts that women have represented only 10% of the total security workforce. This talk aims to build awareness of the opportunities that exist in security for women of all backgrounds and to introduce advanced technologies such as analytics, threat intelligence and digital forensics to help burgeoning security professionals.</p>
      </div>
    </div>
  </li>
</ul>