<ul class="schedule schedule--right">
  <li class="schedule-item">
    <img src="{{ '/assets/images/speakers/rita-lu.jpg' | prepend: site.baseurl_root }}" class="schedule-item-thumbnail img-circle" width="150" height="150" alt="Rita Lu">

    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 3:45 PM - 4:15 PM</p>
      <h2 class="schedule-item-content-title">
        Performance metrics and ease of use in web frameworks
      </h2>

      <p>by <em>Rita Lu</em></p>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#schedule-rita-lu">
        Learn more
      </button>

      <div class="collapse" id="schedule-rita-lu">
        <p class="schedule-item-content-description">How do you navigate the swamp of numerous web frameworks and languages to choose the one that’s best for the solution you want to implement? We’ll examine the web app building experience in popular frameworks like Ruby on Rails and Node.js and compare them using criteria such as quantitative performance metrics and qualitative developer experience in order to draw conclusions about when one may be preferable over another.</p>
      </div>
    </div>
  </li>

  <li class="schedule-item">
    <img src="{{ '/assets/images/speakers/roberta-voulon.jpg' | prepend: site.baseurl_root }}" class="schedule-item-thumbnail img-circle" width="150" height="150" alt="Roberta Voulon">

    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 4:15 PM - 4:45 PM</p>
      <h2 class="schedule-item-content-title">
        How to gain a super-power
      </h2>

      <p>by <em>Roberta Voulon</em></p>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#schedule-roberta-voulon">
        Learn more
      </button>

      <div class="collapse" id="schedule-roberta-voulon">
        <p class="schedule-item-content-description">For many people, the ability to code seems like nothing short of a super-power that is completely out of reach for them. When you do learn how to code, you feel like a whole new world has opened up as if you gained a super-power. And with great power comes great responsibility... as well as an urge to want to help others who are just starting on that path. This talk is for both learners and mentors. We discuss how we learn (and how we should teach) and we bust some popular myths about learning. We talk about what motivates different people (including yourself), and also how to do away with destructive mindsets like "I'm not good with computers" or "I'm just not cut out for this."</p>
      </div>
    </div>
  </li>
</ul>