<ul class="schedule schedule--left">
  <li class="schedule-item">
    <img src="{{ '/assets/images/speakers/inda-duminica.jpg' | prepend: site.baseurl_root }}" class="schedule-item-thumbnail img-circle" width="150" height="150" alt="Inda Duminica">

    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 3:45 PM - 4:15 PM</p>
      <h2 class="schedule-item-content-title">
         Mentoring is a two-way street
      </h2>

      <p>by <em>Inda Duminica</em></p>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#schedule-inda-duminica">
        Learn more
      </button>

      <div class="collapse" id="schedule-inda-duminica">
        <p class="schedule-item-content-description">Do you currently have a mentor? Or even better, do you mentor someone? An overview of mentoring as a tool for personal development, team building and knowledge transfer. A practical session on how to get started, and how to enhance your mentoring experience, on both sides of the equation.</p>
      </div>
    </div>
  </li>

  <li class="schedule-item">
    <img src="{{ '/assets/images/speakers/gayane-petrosyan.jpg' | prepend: site.baseurl_root }}" class="schedule-item-thumbnail img-circle" width="150" height="150" alt="Gayane Petrosyan">

    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 4:15 PM - 4:45 PM</p>
      <h2 class="schedule-item-content-title">
        Chromium, Chrome and tools to Chrome
      </h2>

      <p>by <em>Gayane Petrosyan</em></p>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#schedule-gayane-petrosyan">
        Learn more
      </button>

      <div class="collapse" id="schedule-gayane-petrosyan">
        <p class="schedule-item-content-description">A popular browser Chrome by Google is actually powered by an open source project called Chromium. This talk will give an overview of the Chromium project and will introduce you to tools that you and I can use to contribute to it. It will also cover a typical workflow one needs to go through in order to make a contribution.</p>
      </div>
    </div>
  </li>
</ul>