<ul class="schedule schedule--left">
  <li class="schedule-item">
    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 1:00 PM - 1:30 PM</p>
      <h2 class="schedule-item-content-title">
        Coming soon
      </h2>

      <p>by <em>Coming soon</em></p>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#schedule-tbd-1">
        Learn more
      </button>

      <div class="collapse" id="schedule-tbd-1">
        <p class="schedule-item-content-description">Coming soon</p>
      </div>
    </div>
  </li>

  <li class="schedule-item">
    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 1:30 PM - 2:00 PM</p>
      <h2 class="schedule-item-content-title">
        Coming soon
      </h2>

      <p>by <em>Coming soon</em></p>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#schedule-tbd-2">
        Learn more
      </button>

      <div class="collapse" id="schedule-tbd-2">
        <p class="schedule-item-content-description">Coming soon</p>
      </div>
    </div>
  </li>
</ul>