<ul class="schedule schedule--right">
  <li class="schedule-item">
    <img src="{{ '/assets/images/speakers/alessia-bellisario.jpg' | prepend: site.baseurl_root }}" class="schedule-item-thumbnail img-circle" width="150" height="150" alt="Alessia Bellisario">

    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 10:30 AM - 11:00 AM</p>
      <h2 class="schedule-item-content-title">
        TBD
      </h2>

      <p>by <em>Alessia Bellisario</em></p>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#schedule-alessia-bellisario">
        Learn more
      </button>

      <div class="collapse" id="schedule-alessia-bellisario">
        <p class="schedule-item-content-description">TBD</p>
      </div>
    </div>
  </li>

  <li class="schedule-item">
    <img src="{{ '/assets/images/speakers/veronique-renaud.jpg' | prepend: site.baseurl_root }}" class="schedule-item-thumbnail img-circle" width="150" height="150" alt="Véronique Renaud">

    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 11:00 AM - 11:30 AM</p>
      <h2 class="schedule-item-content-title">
        The digital ergonomies: a success factor
      </h2>

      <p>by <em>Véronique Renaud</em></p>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#schedule-veronique-renaud">
        Learn more
      </button>

      <div class="collapse" id="schedule-veronique-renaud">
        <p class="schedule-item-content-description">Most of numeric creations (Web site, intranet, mobile application, software , etc) require major investments. Ensuring their success has become one of any business requirements. However, as paradoxical as it may seem, future users are very often taken into consideration after the delivery of the final product. Throughout the development of these digital solutions, the team will have been guided by its own mental schemas, believing they represent the target average user. By operating this way, the ease with which users interact with the proposed technology and the efficiency of the required experience are too often reduced.The user experience (UX), also known as "digital ergonomics" must therefore be a central concern of any technology creator that takes to heart the success of his work.</p>
      </div>
    </div>
  </li>
</ul>