<ul class="schedule schedule--right">
  <li class="schedule-item">
      <img src="{{ '/assets/images/speakers/corelia-kostovic.jpg' | prepend: site.baseurl_root }}" class="schedule-item-thumbnail img-circle" width="150" height="150" alt="Corélia Kostovic">
      <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 2:15 PM - 3:15 PM</p>
      <h2 class="schedule-item-content-title">
          Competitive Intelligence and Market Research: How to Apply It for IT companies and SaaS startups?
      </h2>

      <p>by <em>Corélia Kostovic</em></p>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#schedule-tbd4">
        Learn more
      </button>

      <div class="collapse" id="schedule-tbd4">
        <p class="schedule-item-content-description">

        One of the reasons why SaaS startups fail to convince investors is because they underestimate the competition. Prior to and throughout the investment process, investors are constantly challenging entrepreneurs so they can master their market, from building their customer base to outmaneuvering their competitors, to ensure the success of their product.
        In the mean time, startups enter the market and disrupt traditional stakeholders. Established IT companies are fundamentally challenged as well, and should be keenly aware of these startups' activities to evaluate if they are a serious threat, or an M&A opportunity.

        Therefore, innovation is the greatest pressure faced in IT, because it defines our competitive advantage in terms of product strategy and customer satisfaction. Competitive Intelligence (CI) and Market Research (MR) are key methods to:
        understand your customers' expectations: key buying criteria, buyer persona,…;
        anticipate your competition: "killer features", buyer preferences, developer interviewing,…;
        keeping an eye innovation: patents, trends,…
        The goals of this conference are to:
        Introduce different methods in CI and MR;
        Give you the keys to apply it clearly in your company;
        Share external case studies (including Philips, Amadeus IT Group, and Montreal-based companies);
        Share our internal case study at CleverToday.

        </p>
      </div>
    </div>
  </li>
</ul>