<ul class="schedule schedule--right">
  <li class="schedule-item">
    <img src="{{ '/assets/images/speakers/alessia-bellisario.jpg' | prepend: site.baseurl_root }}" class="schedule-item-thumbnail img-circle" width="150" height="150" alt="Alessia Bellisario">

    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 10:30 AM - 11:00 AM</p>
      <h2 class="schedule-item-content-title">
        From Bitmaker to Breather: A QuickStart™ Guide to Making Things on the Internet
      </h2>

      <p>by <em>Alessia Bellisario</em></p>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#schedule-alessia-bellisario">
        Learn more
      </button>

      <div class="collapse" id="schedule-alessia-bellisario">
        <p class="schedule-item-content-description">Very few paths worth traversing are perfectly linear. My journey from political staffing to programming began in earnest in a middle school computers class, but my philosophy degree and brief time in politics also managed to prepare me for a career in tech in unexpected ways. Spoiler alert: my QuickStart™ Guide to Making Things on the Internet is actually a longitudinal project that spans years; it also seeks to recast the kinds of experiences we typically think of as qualifying a person to build the future of the web.</p>
      </div>
    </div>
  </li>

  <li class="schedule-item">
    <img src="{{ '/assets/images/speakers/veronique-renaud.jpg' | prepend: site.baseurl_root }}" class="schedule-item-thumbnail img-circle" width="150" height="150" alt="Véronique Renaud">

    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 11:00 AM - 11:30 AM</p>
      <h2 class="schedule-item-content-title">
        L’ergonomie numérique : un facteur de succès
      </h2>

      <p>by <em>Véronique Renaud</em></p>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#schedule-veronique-renaud">
        Learn more
      </button>

      <div class="collapse" id="schedule-veronique-renaud">
        <p class="schedule-item-content-description">Les créations numériques (site web, intranet, application mobile, logiciel, etc. ) requièrent des investissements majeurs. Assurer leur succès est donc devenu un des impératifs de toute entreprise. Toutefois, aussi paradoxale que cela puisse paraître, très souvent les futurs utilisateurs sont pris en compte qu’après la livraison du produit final. Durant tout le développement de ces solutions numériques, l’équipe aura donc été guidée que par ses propres schémas mentaux croyant qu’ils représentent l’utilisateur moyen visé. En fonctionnant de cette façon, la facilité avec laquelle les utilisateurs interagiront avec la technologie proposée ainsi que l’efficience de l’expérience souhaitée seront trop souvent réduites. L’expérience utilisateur (UX), aussi appelée «ergonomie numérique» se doit donc d’être au centre des préoccupations de tout créateur de technologie qui tient à cœur le succès de son travail.</p>
      </div>
    </div>
  </li>
</ul>