<ul class="schedule schedule--left">
  <li class="schedule-item">
    <img src="{{ '/assets/images/speakers/inda-duminica.jpg' | prepend: site.baseurl_root }}" class="schedule-item-thumbnail img-circle" width="150" height="150" alt="Inda Duminica">

    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 3:45 PM - 4:15 PM</p>
      <h2 class="schedule-item-content-title">
        Coming soon
      </h2>

      <p>by <em>Inda Duminica</em></p>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#schedule-inda-duminica">
        Learn more
      </button>

      <div class="collapse" id="schedule-inda-duminica">
        <p class="schedule-item-content-description">Coming soon</p>
      </div>
    </div>
  </li>

  <li class="schedule-item">
    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 4:15 PM - 4:45 PM</p>
      <h2 class="schedule-item-content-title">
        Coming soon
      </h2>

      <p>by <em>Coming soon</em></p>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#schedule-tbd-6">
        Learn more
      </button>

      <div class="collapse" id="schedule-tbd-6">
        <p class="schedule-item-content-description">Coming soon</p>
      </div>
    </div>
  </li>
</ul>