<ul class="schedule schedule--left">
  <li class="schedule-item">
    <img src="{{ '/assets/images/speakers/andrea-wood.jpg' | prepend: site.baseurl_root }}" class="schedule-item-thumbnail img-circle" width="150" height="150" alt="Andrea Wood">

    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 10:30 AM - 11:00 AM</p>
      <h2 class="schedule-item-content-title">
        Launching a Values-based Technology Business in a Growth-oriented World
      </h2>

      <p>by <em>Andrea Wood</em></p>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#schedule-andrea-wood">
        Learn more
      </button>

      <div class="collapse" id="schedule-andrea-wood">
        <p class="schedule-item-content-description">The start-up focus on disruption and unicorns led to two decades of boom and bust cycles. Now, entrepreneurs see significant competitive advantage in addressing human needs and social deficits. Andrea Wood will tell her story of building a technology start-up with a focus on what management guru Michael Porter calls shared value. By addressing the issues of citizen engagement, her data collection platform strives to do good while generating profit. </p>
      </div>
    </div>
  </li>

  <li class="schedule-item">
    <img src="{{ '/assets/images/speakers/maeghan-smulders.jpg' | prepend: site.baseurl_root }}" class="schedule-item-thumbnail img-circle" width="150" height="150" alt="Maeghan Smulders">

    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 11:00 AM - 11:30 AM</p>
      <h2 class="schedule-item-content-title">
        Set Yourself Apart: Finding & Engaging your Audience
      </h2>

      <p>by <em>Maeghan Smulders</em></p>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#schedule-maeghan-smulders">
        Learn more
      </button>

      <div class="collapse" id="schedule-maeghan-smulders">
        <p class="schedule-item-content-description">Connecting with people is an important piece to building a great product. In today’s market, technology can no longer be the only differentiator – we need a new savvy approach to building our brand and our finding our audience. Maeghan will be sharing her experience launching two products from beta and how storytelling can build things that developing can't.</p>
      </div>
    </div>
  </li>
</ul>