<ul class="schedule schedule--right">
  <li class="schedule-item">
    <div class="schedule-item-content">
      <p class="schedule-item-content-time"><i class="glyphicon glyphicon-time"></i> 2:15 PM - 3:15 PM</p>
      <h2 class="schedule-item-content-title">
        TBD
      </h2>

      <p>by <em>TBD</em></p>

      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#schedule-tbd4">
        Learn more
      </button>

      <div class="collapse" id="schedule-tbd4">
        <p class="schedule-item-content-description">TBD</p>
      </div>
    </div>
  </li>
</ul>