<section id="venue" class="section section--theme-2">
    <div class="container container--600 text-center">
        <img src="/assets/images/ets-pavillon-a.jpg" alt="ÉTS – Pavillon A" class="img-circle" width="225">

        <br><br><br>

        <h2>{% t venue.title %}</h2>

        <h3>École de technologie supérieure</h3>

        <h4>{% t venue.adr %}</h4>

        <p>
            <strong>École de technologie supérieure (ÉTS) </strong> {% t venue.desc %}
        </p>

        <a href="https://www.google.ca/maps/dir/''/%C3%A9cole+de+technologie+sup%C3%A9rieure/@45.4944608,-73.6324918,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x4cc91a60aa839707:0xb732a719a45c45f6!2m2!1d-73.562452!2d45.4944822" class="btn btn-primary btn-lg" target="_blank">{% t venue.itinerary %}</a>
    </div>
</section>