<section id="venue" class="section section--theme-2">
    <div class="container">
        <h2>Venue</h2>

        <div class="row">
            <div class="col-sm-4">
                <div class="collage">
                    <img src="/assets/images/ets-pavillon-a.jpg" alt="ÉTS – Pavillon A" class="box" width="320">

                    <div class="caption caption--left">
                        <i class="glyphicon glyphicon-flash"></i>

                        <p>
                            Le génie pour l'industrie
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <h3>École de technologie supérieure</h3>

                <h4>1100 Rue Notre-Dame O, Montréal, QC H3C 1K3</h4>

                <p>
                    L'École de technologie supérieure (ÉTS) est une constituante du réseau de l'Université du Québec, fondée en
                    1974. Spécialisée dans l’enseignement et la recherche appliqués en génie et le transfert technologique, elle
                    forme des ingénieurs et des chercheurs. Elle entretient un partenariat étroit avec le milieu des affaires et
                    l'industrie, tant avec les grandes entreprises qu'avec les PME.
                </p>

                <a href="https://www.google.ca/maps/dir/''/%C3%A9cole+de+technologie+sup%C3%A9rieure/@45.4944608,-73.6324918,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x4cc91a60aa839707:0xb732a719a45c45f6!2m2!1d-73.562452!2d45.4944822" class="btn btn-primary btn-lg" target="_blank">Itinéraire</a>
            </div>
        </div>
    </div>
</section>