.site-footer {
  background-image: url("/assets/images/bg-section-2.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  padding: 75px 0;

  .container {
    &.container--600 {
      max-width: 600px;
    }
  }
}