.site-header {
  background-image: url("/assets/images/bg-header.jpg");
  background-size: cover;
  min-height: 100vh;
  position: relative;

  .fixed {
    position: fixed;
  }

  .container-fluid {
    position: relative;
    z-index: 1;
  }

  .container {
    position: absolute;
    z-index: 1;
    top: 50%;

    @media (min-width: $screen-sm-min) {
      left: 50%;

      transform: translate(-50%, -50%);
    }

    @media (max-width: $screen-xs-max) {
      transform: translateY(-50%);
      width: 100%;
    }

    &.container--600 {
      max-width: 600px;
    }

    .logo-signature {
      margin-bottom: 75px;
      width: 120px;

      @media (max-width: $screen-xs-max) {
        width: 100px;
      }
    }

    h1 {
      color: #FFFFFF;
      font-size: 3.25em;
      font-weight: 700;
      text-align: center;

      @media (max-width: $screen-xs-max) {
        font-size: 1.25em;
      }

      small {
        color: #FFFFFF;
      }

      &:after {
        background: #FFFFFF;
        content: "";
        display: block;
        width: 35px;
        height: 3px;
        margin: 10px auto 0;
      }
    }

    p {
      color: #FFFFFF;
      font-size: 1em;
    }
  }

  &:before {
    background: linear-gradient(45deg, #4295d1 0%, #27b9a2 100%);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    opacity: 0.65;
    position: absolute;
    right: 0;
    top: 0;

  }

  &:after {
    background: #FFFFFF;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    opacity: 0.05;
    position: absolute;
    right: 0;
    top: 0;

  }
}