.navbar-nav {
  margin-top: 15px;

  > li {
    > a {
      padding-top: 10px;
      padding-bottom: 10px;

      &:focus {
        background: none;
      }
    }
    &:not(:last-child) {
      a {
        color: #FFFFFF;
        line-height: 25px;
        position: relative;
        transition: opacity 0.25s ease;

        &:hover {
          background: none;
          opacity: 0.75;
        }
      }
    }
  }
}