section {
  .response {
    display: none;
  }

  border-bottom: 1px solid #E8E8E8;
  padding: 75px 0;
  position: relative;
  width: 100%;

  .container {
    position: relative;
    z-index: 1;

    &.container--600 {
      max-width: 600px;
    }
  }

  h4 {
    &[class*="sponsors-"] {
      text-transform: uppercase;
    }

    &.sponsors-platinum {
      color: #A0B8C7;
    }

    &.sponsors-gold {
      color: #D4AF37;
    }

    &.sponsors-silver {
      color: #A5A5A5;
    }

    &.sponsors-bronze{
      color: #CD9932;
    }
  }

  h2 {
    text-align: center;

    &:after {
      background: $brand-color;
      content: "";
      display: block;
      width: 35px;
      height: 3px;
      margin: 10px auto 0;
    }
  }

  p {
    font-size: 0.9em;
  }

  .collage {
    position: relative;

    .caption {
      background: rgba($brand-second-color, 0.75);
      top: 50%;
      padding: 75px 0;
      position: absolute;
      text-align: center;
      transform: translateY(-50%);
      width: 320px;

      &.caption--left {
        left: 25px;
      }

      &.caption--right {
        right: 25px;
      }

      i {
        color: #FFFFFF;
        font-size: 2em;
      }

      p {
        color: #FFFFFF;
        font-size: 1.5em;
        font-weight: 400;
        font-style: italic;
        margin: 0;
        padding: 0;
      }
    }
  }

  .card {
    h3 {
      margin-top: 25px;
    }

    h4 {
      margin-bottom: 15px;
      margin-top: -25px;
    }
  }

  &.section--theme-1 {
    background-color: #FFFFFF;
    .row{
        a{
          color : #000000;
        }
    }
  }

  &.section--theme-2 {
    background-color: #F9FBFC;
  }

  &.section--theme-3 {
    background-image: url("/assets/images/bg-section-1.png");
    background-position: top right;
    background-repeat: no-repeat;
    .row{
            a{
              color : #000000;
            }
        }
  }

  &.section--theme-4 {
    background-image: url("/assets/images/bg-buy-tickets.jpg");
    background-size: cover;
    color: #FFFFFF;

    &:before, &:after {
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &:before {
      background: linear-gradient(45deg, #4295d1 0%, #58C1EE 100%);
      opacity: 0.65;
    }

    &:after {
      background: #333333;
      opacity: 0.75;
    }
  }

  &#subscription {
    .form-control {
      border: 2px solid $brand-primary;
      border-right: none;
      padding-top: 16px;
      padding-bottom: 15px;
    }
  }
}