.btn {
  border-width: 2px;
  border-radius: 55px;
  transition: background 0.5s ease;

  &.btn-primary {
    background: none;
    color: $brand-primary;

    &:active, &:link, &:visited {
      background: none;
    }

    &:hover {
      background-color: $brand-primary;
      color: #FFFFFF;
    }
  }

  &.btn-default {
    background: none;
    border-color: #FFFFFF;
    color: #FFFFFF;

    &:active, &:link, &:visited {
      background: none;
      border-color: #FFFFFF;
      color: #FFFFFF;
    }

    &:hover {
      color: $brand-primary;
      background-color: #FFFFFF;
    }
  }
}