.schedule {
  border-left: 1px solid #DDDDDD;
  list-style: none;
  margin: 0 0 0 70px;
  padding: 25px 75px;

  &.with-connection-bottom {
    position: relative;
    border-bottom: 1px solid #DDDDDD;

    &:after {
      position: absolute;
      bottom: -1px;
      right: -101px;
      content: '';
      background-color: #DDDDDD;
      height: 1px;
      width: 101px;
    }
  }

  &.with-connection-top {
    position: relative;
    border-top: 1px solid #DDDDDD;

    &:after {
      position: absolute;
      top: -1px;
      right: -101px;
      content: '';
      background-color: #DDDDDD;
      height: 1px;
      width: 101px;
    }
  }

  .schedule-item {
    position: relative;

    .schedule-item-thumbnail {
      height: auto;
      left: -100px;
      position: absolute;
      top: 0;
      width: 50px;

      i {
        background: #fff;
        border: 1px solid $brand-primary;
        border-radius: 50%;
        color: $brand-primary;
        padding: 15px;
      }
    }

    .schedule-item-content {
      padding-top: 15px;
      padding-bottom: 15px;

      p {
        margin: 0 0 15px;
      }

      .schedule-item-content-time {
        color: $brand-primary;

        i {
          color: #cccccc;
          top: 2px;
        }
      }

      .schedule-item-content-title {
        font-size: 1.25em;
        margin: 0 0 10px;
        padding: 0;
        text-align: left;

        &:after {
          display: none;
        }
      }

      .schedule-item-content-description {
        margin-top: 20px;
        margin-bottom: 5px;
      }
    }
  }
}