.schedule-wrapper {
  position: relative;

  .col-sm-offset-4 {
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;

    ul {
      bottom: 0;
      position: absolute;
      top: 0;
    }
  }
}

.schedule {
  list-style: none;
  margin: 0;
  padding-top: 25px;

  //
  // CENTER
  //
  &.schedule--center-top, &.schedule--center-bottom {
    .schedule-item {
      width: 50%;

      &:nth-child(odd) {
        border-right: 1px solid #DDDDDD;
        left: 0;
        padding-right: 35px;
        text-align: right;

        .schedule-item-thumbnail {
          right: -25px;
        }

        .schedule-item-content-title {
          text-align: right;
        }
      }

      &:nth-child(even) {
        border-left: 1px solid #DDDDDD;
        left: 50%;
        padding-left: 35px;
        text-align: left;

        .schedule-item-thumbnail {
          left: -25px;
        }

        .schedule-item-content-title {
          text-align: left;
        }
      }
    }
  }

  &.schedule--center-top {
    border-bottom: 1px solid #DDDDDD;
  }

  &.schedule--center-bottom {
    border-top: 1px solid #DDDDDD;
    padding-top: 0;

    .schedule-item {
      &:first-child {
        padding-top: 25px;

        .schedule-item-thumbnail {
          top: 25px;
        }
      }
    }
  }

  &.schedule--center-last {
    .schedule-item {
      &:last-child {
        &:after {
          background: $brand-primary;
          border-radius: 50%;
          content: "";
          display: block;
          height: 8px;
          right: -5px;
          position: absolute;
          width: 8px;
        }
      }
    }
  }


  //
  // Auditorium 1 (LEFT SIDE)
  //
  &.schedule--left {
    border-right: 1px solid #DDDDDD;

    .schedule-item {
      padding-right: 35px;
      text-align: right;

      .schedule-item-thumbnail {
        right: -25px;
      }

      .schedule-item-content-title {
        text-align: right;
      }
    }
  }

  //
  // Auditorium 2 (RIGHT SIDE)
  //
  &.schedule--right {
    border-left: 1px solid #DDDDDD;

    .schedule-item {
      padding-left: 35px;
      text-align: left;

      .schedule-item-thumbnail {
        left: -25px;
      }

      .schedule-item-content-title {
        text-align: left;
      }
    }
  }

  .schedule-item {
    position: relative;

    .schedule-item-thumbnail {
      height: auto;
      position: absolute;
      top: 0;
      width: 50px;

      i {
        background: #fff;
        border: 1px solid $brand-primary;
        border-radius: 50%;
        color: $brand-primary;
        padding: 15px;
      }
    }

    .schedule-item-content {
      padding-top: 15px;
      padding-bottom: 15px;

      p {
        margin: 0 0 15px;
      }

      .schedule-item-content-time {
        color: $brand-primary;

        i {
          color: #cccccc;
          top: 2px;
        }
      }

      .schedule-item-content-title {
        font-size: 1.25em;
        margin: 0 0 10px;
        padding: 0;

        &:after {
          display: none;
        }
      }

      .schedule-item-content-description {
        margin-top: 20px;
        margin-bottom: 5px;
      }
    }
  }
}