<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>
        {% include header.html %}

        <div class="page-content">
            {{ content }}
        </div>

        {% include footer.html %}

        <script type="text/javascript" src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl_root }}"></script>
        <script type="text/javascript" src="{{ "/assets/js/jquery.easing.min.js" | prepend: site.baseurl_root }}"></script>
        <script type="text/javascript" src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl_root }}"></script>
        <script type="text/javascript" src="{{ "/assets/js/jquery.stellar.min.js" | prepend: site.baseurl_root }}"></script>
        <script type="text/javascript" src="{{ "/assets/js/app.js" | prepend: site.baseurl_root }}"></script>
    </body>
</html>
